<BsNavbar @type="light" @backgroundColor="white" @collapsed={{true}} @class="border-bottom"
	@onCollapse={{action (mut collapsed) true}} @onExpand={{action (mut collapsed) false}} as |navbar|>
	<div class="navbar-header">
		{{navbar.toggle}}
		<LinkTo @route="index" @class="navbar-brand"><FaIcon @icon="kiwi-bird" /> PGPenguin</LinkTo>
	</div>
	<navbar.content>
		<navbar.nav as |nav|>
			<nav.item>
				<nav.link-to @route="generate">Generate</nav.link-to>
			</nav.item>
			<nav.item>
				<nav.link-to @route="encrypt">Encrypt</nav.link-to>
			</nav.item>
			<nav.item>
				<nav.link-to @route="decrypt">Decrypt</nav.link-to>
			</nav.item>
		</navbar.nav>
		<navbar.nav @class="ml-auto" as |nav|>
			<nav.item>
				<nav.link-to @route="new"><FaIcon @icon="plus" /></nav.link-to>
			</nav.item>
		</navbar.nav>
	</navbar.content>
</BsNavbar>

{{outlet}}

{{!-- <footer class="p-3 border-top">
	&copy; PGPenguin
</footer> --}}
