<main class="p-3 mb-3">

	{{#if error}}
		<div class="alert alert-danger " role="alert">
			<strong>Error.</strong> {{error}}
			<button type="button" class="close" {{action (mut error)}}>&times;</button>
		</div>
	{{/if}}

	<BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "submit"}} as |form|>

		<KeyDropdown @keys={{model}} @onSelect={{action "selectKey"}} />
		<form.element @property="privateKey" @controlType="textarea" @label="Private key" @rows={{26}} @required={{true}} />

		<form.element @property="password" @controlType="password" @label="Password (Optional)" />
		<form.element @property="message" @controlType="textarea" @label="Message" @rows={{10}} @required={{true}} />

		<BsButton @defaultText="Decrypt" @type="primary" @buttonType="submit" />

	</BsForm>

</main>

{{#if result}}
	<aside class="p-3">
		<div class="card">
			<h5 class="card-header">Message</h5>
			<div class="card-body">
				<p class="card-text">{{result}}</p>
			</div>
		</div>
	</aside>
{{/if}}
