<main class="p-3">

	<BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "submit"}} as |form|>

		<KeyDropdown @keys={{model}} @onSelect={{action "selectKey"}} />
		<form.element @controlType="textarea" @label="Public key" @property="publicKey" @rows={{22}} @required={{true}} />

		<form.element @controlType="textarea" @label="Unencrypted message" @property="message" @rows={{10}} @required={{true}} />

		<BsButton @defaultText="Encrypt" @type="primary" @buttonType="submit" />

	</BsForm>

</main>

{{#if result}}
	<aside class="p-3">
		<div class="card">
			<h5 class="card-header">Message</h5>
			<div class="card-body">
				<p class="card-text"><pre><code>{{result}}</code></pre></p>
			</div>
		</div>
	</aside>
{{/if}}
