<main>

	<BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "submit"}} as |form|>
		<form.element @property="nickname" @controlType="text" @label="Nickname" @placeholder="e.g. My Key" @required={{true}} />
		<form.element @property="name" @controlType="text" @label="Name (Optional)" @placeholder="e.g. John Smith" />
		<form.element @property="email" @controlType="text" @label="Email (Optional)" @placeholder="e.g. john.smith@gmail.com" />
		<BsButton @defaultText="Generate" @type="primary" @buttonType="submit" />
	</BsForm>

</main>

{{#if key}}
	<footer>
		<p class="text-success"><FaIcon @icon="check" /> Saved locally</p>
		<div class="row">
			<div class="col">
				<pre><code>{{key.privateKey}}</code></pre>
			</div>
			<div class="col">
				<pre><code>{{key.publicKey}}</code></pre>
			</div>
		</div>
	</footer>
{{/if}}

{{!-- {{#if key}}
	<aside class="p-3">

		<span class="text-success"><FaIcon @icon="check" /> Saved locally</span>

		<div class="card mt-3">
			<h5 class="card-header">Private key</h5>
			<div class="card-body">
				<p class="card-text"><pre><code>{{key.privateKey}}</code></pre></p>
			</div>
		</div>

		<div class="card mt-3">
			<h5 class="card-header">Public key</h5>
			<div class="card-body">
				<p class="card-text"><pre><code>{{key.publicKey}}</code></pre></p>
			</div>
		</div>

	</aside>
{{/if}} --}}
