<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th scope="col">Type</th>
			<th scope="col">Name</th>
			<th scope="col">Email</th>
			<th scope="col">Created</th>
			<th scope="col">Fingerprint</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{{#each model as |key|}}
			<tr>
				<th scope="row">-</th>
				<td>{{timestamp key.createdAt}}</td>
				<td>{{timestamp key.createdAt}}</td>
				<td>{{timestamp key.createdAt}}</td>
				<td>{{timestamp key.createdAt}}</td>
				<td class="py-0 align-middle">
					<div class="btn-group btn-group-sm" role="group">
						<button type="button" class="btn btn-secondary" {{action "showPublic" key}}>Public</button>
						<button type="button" class="btn btn-secondary" {{action "showPrivate" key}}>Private</button>
						<button type="button" class="btn btn-danger"><FaIcon @icon="trash" /></button>
					</div>
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>

{{model.length}} keys

<BsModalSimple @open={{publicOpen}} @title="Public Key" @onHidden={{action "hidePublic"}}>
	<pre><code>{{selectedKey.publicKey}}</code></pre>
</BsModalSimple>

<BsModalSimple @open={{privateOpen}} @title="Private Key" @onHidden={{action "hidePrivate"}}>
	<pre><code>{{selectedKey.privateKey}}</code></pre>
</BsModalSimple>
