<div class="p-4">

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Created</th>
				<th scope="col">Fingerprint</th>
			</tr>
		</thead>
		<tbody>
			{{#each model as |key|}}
				<tr>
					<th scope="row">{{key.createdAt}}</th>
					<td>{{key.createdAt}}</td>
					<td>{{key.createdAt}}</td>
					<td>{{key.createdAt}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	{{model.length}} keys

</div>
