{{outlet}}

<main class="container-fluid py-3">

	<h4 class="mb-3">Local keys ({{this.model.length}})</h4>

	{{#if this.model}}
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th scope="col">Type</th>
					<th scope="col">Nickname</th>
					<th scope="col">Created</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Fingerprint</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{{#each this.keys as |key|}}
					<tr>
						<td><FaIcon @icon="lock" /></td>
						<td>{{if key.nickname (timestamp key.nickname) "-"}}</td>
						<td>{{timestamp key.createdAt}}</td>
						<td>{{key.name}}</td>
						<td>{{key.email}}</td>
						<td>{{key.fingerprint}}</td>
						<td class="py-0 align-middle">
							<LinkTo @route="keys.key" @model={{key}} @tagName="button" @type="button" @class="btn btn-sm btn-outline-secondary">View</LinkTo>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		No keys found. <LinkTo @route="generate">Click here</LinkTo> to generate one.
	{{/if}}

</main>
